<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.5/dist/css/uikit.min.css" />

<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-margin-medium-left"><a uk-tooltip="Download My Resume" href="" uk-icon="icon: cloud-download "></a></li>
            <li><a uk-tooltip="My Github" href="https://github.com/ZachTechPro" target="_blank" uk-icon="icon: github-alt"></a> </li>
            <li><a uk-tooltip="How I Built This Site" href="" uk-icon="icon: uikit"></a> </li>
        </ul>

    </div>

    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav"><li class="uk-active"><a href="#">Zachary B. Madden</a></li></ul>
    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#"></a></li>
            <li><a href="#">Projects</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">This Site!</a></li>
                        <li><a href="#">C++ Wordle Game</a></li>
                        <li><a href="#">C# Space Invaders</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Interests</a></li>
            <li class="uk-margin-medium-right"><a href="#">About</a></li>
        </ul>

    </div>

</nav>